name: Deploy NestJS to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Debug secrets
        run: |
          echo "HOST=${{ secrets.EC2_HOST }}"
          echo "USER=${{ secrets.EC2_USER }}"
          echo "USER=${{ secrets.EC2_SSH_KEY }}"
          echo "USER=${{ secrets.EC2_APP_PATH }}"
          echo "HOST is set? -> ${{ secrets.EC2_HOST != '' }}"
          echo "USER is set? -> ${{ secrets.EC2_USER != '' }}"

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ${{ secrets.EC2_APP_PATH }}
            git pull origin main
            pnpm install
            pnpm run build
            pm2 reload nestjs-api || pm2 start dist/main.js --name nestjs-api
